* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rampart One', cursive;
    font-size: 23px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

img {
    cursor: pointer;
}

.botao-container {
    gap: 10px;
}

footer {
    height: 75px;
    justify-content: center;
    align-items: flex-start;
    font-style: italic;
    font-size: 20px;
}